<?xml version="1.0" encoding="utf-8"?>
<launch>
	<arg name="visual" default="true"/>
    <!-- PointCloud Cluster -->
    <node name="pcl_cluster" pkg="velodyne_perception" type="auto_labeling"  output="screen" clear_params="true" required="true">
    	<param name="visual" value="$(arg visual)"/>
    </node>
</launch>
